[submodule "Calyptus/ts-token-solana"]
	path = Calyptus/ts-token-solana
	url = https://github.com/javiermontescarrera/ts-token-solana.git
[submodule "Calyptus/solana-nft-anchor"]
	path = Calyptus/solana-nft-anchor
	url = https://github.com/javiermontescarrera/solana-nft-anchor.git
[submodule "Encode/solana-bootcamp-project"]
	path = Encode/solana-bootcamp-project
	url = https://github.com/javiermontescarrera/solana-bootcamp-project.git
[submodule "Calyptus/anchor-todo-list"]
	path = Calyptus/anchor-todo-list
	url = https://github.com/javiermontescarrera/anchor-todo-list.git
